*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

#root {
  font-family: sans-serif;
}

/* LOGIN PAGE */

.login-div {
  margin: 70rem auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.logo-icon {
  color: rgb(0, 137, 234);
}

.input-div {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20rem;
}

.login-label {
  font-size: 17rem;
  margin-bottom: 10rem;
  font-weight: bold;
  color: rgb(42, 42, 42);
}

.login-input {
  width: 100%;
  font-size: 17rem;
  padding: 12rem;
  border-radius: 7rem;
  border: 1rem solid rgb(155, 155, 155);
}

.login-input::placeholder {
  font-weight: 300;
  color: rgb(134, 134, 134);
}

.login-input:focus {
  outline: 1rem solid rgb(0, 148, 247);
  border: 1rem solid white;
}

.submit-btn {
  width: 100%;
  background-color: rgb(0, 136, 234);
  border: none;
  color: white;
  font-size: 22rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
  border-radius: 7rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: rgb(0, 111, 189);
}
